<section id="about" class="p-note">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
</section>

<section id="writing">
  <% var ixLang = page.lang ? String(page.lang).substring(0, 2) : 'fr' %>
  <span class="h1"><a href="<%- url_for('/' + ixLang + '/me/') %>"><%= __('index.articles') %></a></span>
  <% if (theme.tags_overview && site.tags.length) { %>
  <span class="h2"><%= __('index.topics') %></span>
  <span class="widget tagcloud">
    <%- tagcloud(theme.tags_overview) %>
  </span>
  <span class="h2"><%= __('index.most_recent') %></span>
  <% } %>
  <ul class="post-list post-gallery">
    <% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
    <% var show_posts = [] %>
    <% var pageLang = page.lang ? String(page.lang).substring(0, 2) : ixLang %>
    <% site.posts.sort(field_sort, 'desc').each(function(post) { %>
      <% if (post.lang && String(post.lang).substring(0, 2) !== pageLang) { return } %>
      <% show_posts.push(post) %>
    <% }) %>
    <% show_posts.forEach(function(post){ %>
      <% var thumb = post.thumbnail || post.cover || post.image || '/images/logo.png' %>
      <li class="post-item">
        <a class="post-thumb" href="<%- url_for(post.path) %>">
          <img src="<%- url_for(thumb) %>" alt="<%- post.title %>" loading="lazy">
        </a>
        <div class="post-meta-row">
          <span><%- partial('_partial/post/title', { post: post, index: true, class_name: 'post-title' }) %></span>
          <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        </div>
      </li>
    <% }) %>
  </ul>
</section>

<% if (site.data.projects) { %>
<section id="projects">
  <span class="h1"><a href="<%- url_for(theme.projects_url) %>"><%= __('index.projects') %></a></span>
  <ul class="project-list">
    <% for(var obj in site.data.projects){ %>
      <li class="project-item">
        <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%- markdown(site.data.projects[obj].desc) %>
      </li>
    <% } %>
  </ul>
</section>
<% } %>
