<!DOCTYPE html>
<% var _htmlLang = page.lang || (Array.isArray(config.language) ? config.language[0] : config.language); _htmlLang = (_htmlLang || '').toString().substring(0, 2); %>
<html<%= _htmlLang ? " lang=" + _htmlLang : ""%>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction -%>">
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index py4 <%= is_home() ? 'h-card' : '' %>">
        <%- partial('_partial/header') %>
        <%- body %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>
</body>
</html>
